.logo {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.logo-cursos {
    width: 240px;
    height: auto;
}